html {
  font-size: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif; // Weights: 300, 400, 600
  font-size: rem(16);
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
